<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">
<title> Motortek </title>
</head>
<body>
    <form action="/login" method="get" name="">
        <label>Ingrese nombre:</label>
        <input type="text" placeholder="Nombres" name="nombre"><br>
        <label>Ingrese apellido:</label>
        <input type="text" placeholder="Apellidos" name="apellido"><br>
        <label>Ingrese sexo:</label>
        <input type="text" placeholder="Sexo" name="sexo"><br>
        <label>Ingrese tipo de documento:</label>
        <input type="text" placeholder="Tipo de documento" name="tipo_documento"><br>
        <label>Ingrese numero de documento:</label>
        <input type="number" placeholder="Numero de documento" name="numero_documento"><br>
        <label>Ingrese email:</label>
        <input type="email" placeholder="Email" name="email"><br>
        <label>Ingrese valor de vehiculo:</label>
        <input type="number" min='40000' max='100000' placeholder="Valor del Vehiculo en Soles" name="vehiculo"><br>
        <label>Ingrese monto de cuota inicial:</label>
        <input type="number" placeholder="Monto de cuota Inicial" name="monto"><br>
        <input type="submit" id="submit" value="Simular">
    </form>
</body>

</html>