<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MotorTek</title>
        <style>
        </style>
    </head>

    <body>
        <h1>Bienvenido a Motortek</h1>
        <h4>Hola admin</h4>
        <form id= "Login">
            <div><label>Ingresa tu usuario: </label><input id="username" type="email"></div>
            <br>
            <div><label>Ingresa tu contrase&ntilde;a: </label><input id="password" type="text"><br></div>
            <br>
            <input id="load" type="submit" value="Acceder">
        </form>
    </body>

    <script>
        //document.getElementById('Login').onsubmit() = function(e)
        //{
        //    fetch()
        //}
    </script>
    
</html>