<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">
<title> Simulacion </title>
</head>
<body>
    <form action="/proceso_register" method="get" name="">
        <label>Ingrese su nombre:</label>
        <input type="text" placeholder="Nombres" name="nombre"><br>
        <label>Ingrese su apellido:</label>
        <input type="text" placeholder="Apellidos" name="apellido"><br>
        <label>Ingrese su sexo:</label>
        <input type="text" placeholder="Sexo" name="sexo"><br>
        <label>Ingrese su telefono celular:</label>:</label>
        <input type="number" placeholder="Telefono Celular" name="contacto"><br>
        <label>Ingrese su correo electronico:</label>
        <input type="email" placeholder="Correo electronico" name="email"><br>
        <label>Ingrese su contraseña:</label>
        <input type="password" placeholder="Contraseña" name="password"><br>
        <input type="submit" id="submit" value="Registrarse">
    </form>
</body>