body{
    background-size: cover;
}

  .logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  header {
    background: #BDF6F7;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  * {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 10px;
    }
    nav {
      float: left; /* Desplazamos el nav hacia la izquierda */
    }
    
    nav ul {
      list-style: none;
      overflow: hidden; /* Limpiamos errores de float */
    }
    
    nav ul li {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
    
    nav ul li a {
      display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
      padding: 20px;
      color: #2E4FB6;
      text-decoration: none;
    }
    
    nav ul li:hover {
      background: cornflowerblue
      }
    .contenido {
      padding-top: 380px;
    }
    .wrapper {
      width: 80%;
      margin: auto;
      overflow:hidden;
    }
  