<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin MotorTek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel=StyleSheet href="{{ url_for('static',filename='styles/css.css') }}" type="text/css" media=screen>

  </head>
  <header>
    <nav><img id="logo" src="{{url_for('static', filename='images/Motortek_logo_1.png')}}" width="350">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Cliente</a></li>
        <li><a href="/login_admin">Admin</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <body background="{{url_for('static', filename='images/garage-background.jpg')}}" style="text-align: center;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="-webkit-text-fill-color: WHITE; text-shadow: -2px -2px 1px #000; ">Bienvenido Administrador</h1><br>
    <form action="/admin" method="post" name="boton">
        <div style="text-align: center;" cellpadding="2px" cellspacing="5px">
            <table style="margin: 0 auto;">
                <tr>
                    <th>
                        <label>Ingrese su correo electronico:</label>
                    </th>
                    <td><input type="email" placeholder="Correo electronico" name="email"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th>
                        <label>Ingrese su contraseña:</label>
                    </th>
                    <td><input type="password" placeholder="Contraseña" name="password"></td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                </tr>
            </table>
            <input class="btn btn-success" type="submit" id="submit" value="Continuar">
        </div>

    </form>
</body>

</html>